/* //////////////////// */
/* 評価を表示する機能のCSS */
/* //////////////////// */
:root {
  --star-size: 30px;
  --star-color: #dbdbd9;
  --star-background: #f0bc43;
}

.rate-form {
  display: flex;
}

.rate-form input[type="radio"] {
  display: none;
}

.rate-form > span {
  font-size: 13px;
  margin-right: 10px;
}

.rate-form > label {
  cursor: pointer;
}

.hover {
  position: relative;
  font-size: 30px;
}
.checked {
  position: relative;
  font-size: 30px;
  color: #f0bc43;
}
.onhover {
  color: #f0bc43;
}
.offhover {
  filter: grayscale(100%);
}

.rating-row {
  display: flex;
  font-size: 20px;
  gap: 40px;
  margin-bottom: 20px;
}

.rating {
  display: flex;
  gap: 10px;
  align-items: center;
}

.rating > .faces {
  color: transparent;
  position: relative;
  font-size: 30px;
}

.rating > .faces > .neutral,
.rating > .faces > .mad {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  color: black;
}

.rating > .faces > .neutral {
  filter: grayscale(100%);
}

.rating > .faces > .mad {
  clip-path: inset(-100px calc((5 - var(--rating)) / 5 * 100%) -100px -100px);
}

.rating-value {
  font-size: 20px;
}

.stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}
.total-votes {
  font-size: 15px;
}

.stars::after {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(
    90deg,
    var(--star-background) var(--percent),
    var(--star-color) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.quote {
  border-left: 5px solid #fed005; /*線の設定*/
  padding: 2px 8px; /*余白の設定*/
  background: #f6f2b3;
}

.good {
  text-align: right;
}