/* //////////////////// */
/* 評価を表示する機能のCSS */
/* //////////////////// */
:root {
  --star-size: 30px;
  --star-color: #dbdbd9;
  --star-background: #f0bc43;
}
.txt {
  font-size: 20px;
}
.rate-form input[type=radio] {
  display: none;
}
.rate-form {
  display: inline;;
}


.hover{
  position: relative;
  padding: 0 3px;
  font-size: 30px;
}
.checked{
  position: relative;
  padding: 0 3px;
  font-size: 30px;
  color: #f0bc43;
}
.onhover{
  color: #f0bc43;
}
.offhover{

  color: #dbdbd9;
}

.rating{
  font-size: 20px;
  margin-right: 40px;
}
.rating-value{
  font-size: 20px;
}

.stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}
.total-votes {
  font-size: 15px;
}

.stars::after {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(
    90deg,
    var(--star-background) var(--percent),
    var(--star-color) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 
.rating{
  display: inline;
}

.quote {
  border-left:5px solid #fed005; /*線の設定*/
  padding:2px 8px; /*余白の設定*/
  background: #f6f2b3;
  }
